<app-loader *ngIf="loading" />
<div class="hero">
  <div class="hero-content">
    <p class="label">Select the currency:</p>
    <app-currency-selector (currencySelected)="currencySelected($event)" />
  </div>
</div>
<div class="chart">
  <div class="chart-container">
    <div class="chart-title">
      <span class="title">EUR to {{ currentCurrency?.code }} chart</span
      ><span
        *ngIf="!loading"
        class="change-percent"
        [ngClass]="changePercentClassName()"
        >{{ currentChangePercent }}%</span
      ><span class="period"
        >({{ chartPeriodTypeLabelMapping[selectedChartPeriod] }})</span
      >
    </div>
    <div class="period-switcher">
      @for (chartType of chartPeriodTypes; track chartType) {
        <div
          class="period"
          [ngClass]="{active: selectedChartPeriod === chartType}"
          (click)="onChartPeriodChange(chartType)">
          {{ chartPeriodTypeLabelMapping[chartType] }}
        </div>
      }
    </div>
    <app-line-chart [chartPoints]="currentChartPoints" />
  </div>
</div>
