<app-loader *ngIf="loading" />
<div class="hero">
  <div class="hero-content">
    <div class="settings">
      <div class="amount-input-wrapper">
        <p class="label">Amount:</p>
        <div class="input-wrapper">
          <input
            class="amount-input"
            type="text"
            [ngClass]="{invalid: isFormInvalid}"
            [formControl]="amountForm" />
          <div class="input-currency">
            {{ baseCurrency.code }}
          </div>
        </div>
        <div
          *ngIf="isFormInvalid"
          class="validation-errors">
          <div class="validation-error">Please enter a valid amount</div>
        </div>
      </div>

      <div class="selectors">
        <div class="selector">
          <p class="label">From:</p>
          <app-currency-selector
            [currency]="baseCurrency"
            (currencySelected)="setBaseCurrency($event)" />
        </div>

        <div
          class="switcher"
          (mousedown)="switchCurrencies()"></div>

        <div class="selector">
          <p class="label">To:</p>
          <app-currency-selector
            [currency]="quoteCurrency"
            (currencySelected)="setQuoteCurrency($event)" />
        </div>
      </div>
    </div>

    <div
      class="submit-btn"
      (mousedown)="convert()">
      Convert
    </div>
  </div>
</div>
<div class="conversion-result-wrapper">
  <div
    *ngIf="conversionResult"
    class="conversion-result">
    <p class="amount">
      {{ conversionResult.amount }} {{ conversionResult.base.fullName }} =
    </p>
    <p class="result">
      {{ conversionResult.conversionResult }}
      {{ conversionResult.quote.fullName }}
    </p>
    <div class="rates">
      <p class="rate">
        1 {{ conversionResult.base.code }} =
        {{ conversionResult.conversionRate }}
        {{ conversionResult.quote.code }}
      </p>
      <p class="rate">
        1 {{ conversionResult.quote.code }} =
        {{ conversionResult.invertedConversionRate }}
        {{ conversionResult.base.code }}
      </p>
    </div>
  </div>
</div>
