<div
  class="currency-select-container"
  [ngClass]="{disabled: isDisabled}">
  <div class="input-container">
    <input
      #currencyInput
      type="text"
      class="currency-input"
      placeholder="Type to search..."
      [style.cursor]="isFocused ? 'text' : 'pointer'"
      [formControl]="filter"
      (keydown.enter)="onEnter()"
      (keydown.escape)="onBlur()"
      (focus)="onFocus()"
      (input)="onInput()"
      (blur)="onBlur()" />

    <div
      *ngIf="!isFocused"
      class="currency-block selected">
      <div
        class="currency-flag"
        [ngClass]="'currency-flag-' + currency.code.toLowerCase()"></div>
      <span class="currency-info"
        >{{ currency.code }} –
        <span class="full-name">{{ currency.fullName }}</span></span
      >
      <div class="arrow-down"></div>
    </div>

    <div
      *ngIf="isFocused"
      class="clear-button"
      (mousedown)="$event.preventDefault()"
      (click)="onBlur()">
    </div>

    <div
      #currencyDropdown
      class="currency-dropdown"
      [@fade]="isFocused"
      (mousedown)="$event.preventDefault()">
      @for (currency of filteredCurrencies$ | async; track $index) {
        <div
          class="currency-block dropdown"
          (click)="onCurrencySelect(currency)">
          <div
            class="currency-flag"
            [ngClass]="'currency-flag-' + currency.code.toLowerCase()"></div>
          <span class="currency-info"
            >{{ currency.code }} –
            <span class="full-name">{{ currency.fullName }}</span></span
          >
        </div>
      } @empty {
        <div class="no-results">No results available</div>
      }
    </div>
  </div>
</div>
