@import 'variables';
@import '@sebgroup/fonts/css/seb-fonts.css';
@import 'currency-flags/dist/currency-flags.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $background-color;
  overflow-x: hidden;
}

* {
  box-sizing: border-box !important;
  font-family: 'SEBSansSerif', 'Trebuchet MS', 'Trebuchet', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  all: unset;
}
